@import "nullstyle.scss";
//========================================================================================================================================================
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
main {
  margin-bottom: 500px;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid rgb(255, 255, 255);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
//========================================================================================================================================================

.icon-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 5;

  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(7, 7, 7);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - 1px);
  }
}
//   .menu-open & {
//     span {
//       width: 0;
//     }
//     &::before,
//     &::after {
//     }
//     &::before {
//       top: calc(50% - 1px);
//       transform: rotate(-45deg);
//     }
//     &::after {
//       bottom: calc(50% - 1px);
//       transform: rotate(45deg);
//     }
//   }
// }
//========================================================================================================================================================
// HEADER

//========================================================================================================================================================
.header {
  // .header__container

  &__container {
  }

  // .header__burger

  &__burger {
    max-width: 50px;
    margin: 25px auto;
  }
}

.menu {
  // .menu__icon

  &__icon {
  }
}
//========================================================================================================================================================
// BUSINESS

//========================================================================================================================================================
.page {
  // .page__business

  &__business {
    margin-top: 80px;
    @media (max-width: 620px) {
      margin-top: 20px;
    }
  }
}
.business {
  display: flex;

  align-items: center;
  @media (max-width: 620px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  // .business__body

  &__body {
    flex: 1 1 50%;
    margin: 0px 40px 20px 15px;
    @media (max-width: 768px) {
      margin: 0px;
      text-align: center;
      justify-content: center;
    }

    @media (max-width: 425px) {
      padding-right: 10px;
      text-align: center;
    }
  }

  // .business__title

  &__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
    @media (max-width: 992px) {
      font-size: 45px;
    }
    @media (max-width: 768px) {
      font-size: 35px;
      text-align: center;
    }
    @media (max-width: 620px) {
      margin-bottom: 25px;

      font-size: 50px;
    }
    @media (max-width: 425px) {
      font-size: 35px;
    }
  }

  // .business__text

  &__text {
    font-size: 18px;
    font-weight: 600;
    color: grey;
    margin-bottom: 15px;
    padding-right: 15px;
    @media (max-width: 992px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      padding-right: 10px;
      text-align: center;
    }
    @media (max-width: 620px) {
      margin-bottom: 20px;
    }
  }

  // .business__item

  &__item {
    font-size: 16px;
    color: grey;
    margin-bottom: 45px;
    @media (max-width: 768px) {
      font-size: 18px;

      text-align: center;
    }
    @media (max-width: 620px) {
      display: none;
    }
  }

  // .business__button

  &__button {
    display: inline-block;
    text-align: center;
    align-items: center;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
    @media (max-width: 620px) {
      margin: 25px 0;
    }
  }

  // .business__img
  &__img {
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    @media (max-width: 425px) {
      margin-top: 40px;
      align-items: center;
      text-align: center;
      min-width: 290px;
    }
    @media (max-width: 620px) {
      margin-top: 40px;
      min-width: 290px;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__img img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
    max-height: 440px;
    @media (max-width: 620px) {
      max-width: 75%;
      max-height: 75%;
      align-items: center;
      text-align: center;
    }
  }
  // &__photo{
  //     width: 100%;
  //     height: 100%;
  //     border-radius: 50%;
  // }
}
.button {
  background-color: rgb(59, 112, 246);
  color: #fff;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 45px;
  transition: background-color 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background-color: rgb(102, 141, 241);
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
}
//========================================================================================================================================================
// SERVICE

//========================================================================================================================================================
.page {
  // .page__service

  &__service {
    margin: 35px 0;
    background-color: rgb(228, 228, 228);
    padding: 45px 0;
  }
}
.service {
  // .service__container

  &__container {
  }

  // .service__body

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    @media (max-width: 992px) {
      // grid-template-columns: 1fr 1fr;
      // grid-template-rows: 50% 50%;
      display: flex;
      flex-wrap: wrap;
    }
  }

  // .service__item

  &__item {
    text-align: center;
  }
}

.item-service {
  background-color: #fff;

  padding: 20px 10px;
  @media (max-width: 992px) {
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 50% 50%;
    flex: 1 0 50%;
    border: rgb(220, 219, 219) solid 1px;
  }
  @media (max-width: 620px) {
    flex: 1 1 100%;
  }

  // .item-service__title

  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }

  // .item-service__text

  &__text {
    font-size: 18px;
    font-weight: 600;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }

  // .item-service__link

  &__link {
    display: inline-block;
    padding-right: 20px;
    margin: 20px 0;
    position: relative;
    @media (max-width: 992px) {
      margin: 10px 0;
    }
  }

  &__link::before,
  &__link::after {
    content: "";
    cursor: pointer;
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
  }
  &__link::before {
    transform: rotate(45deg);
    right: 0;
    top: 5px;
  }
  &__link::after {
    transform: rotate(-45deg);
    right: 0px;
    top: 11px;
  }

  //========================================================================================================================================================

  // Вторая стрелка
  //========================================================================================================================================================
  &__link a {
    padding-right: 5px;
  }

  &__link a::before,
  &__link a::after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #fff;
    position: absolute;
  }
  &__link a::before {
    transform: rotate(45deg);
    right: 10px;
    top: 5px;
  }
  &__link a::after {
    transform: rotate(-45deg);
    right: 10px;
    top: 11px;
  }
  //========================================================================================================================================================

  // .item-service__icon

  &__icon {
    margin: 15px 0;
    font-size: 30px;
    text-align: center;
    background-color: rgb(59, 112, 246);
    display: inline-block;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    color: #fff;
  }

  // .item-service__image

  &__image {
    max-width: 100%;
    @media (max-width: 992px) {
      // grid-template-columns: 1fr 1fr;
      // grid-template-rows: 50% 50%;
      flex: 1 0 50%;
    }
    @media (max-width: 620px) {
      flex: 1 1 100%;
    }
  }
  &__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 620px) {
    height: 50%;
  }
}

._blue {
  background-color: rgb(59, 112, 246);
  color: #fff;
  text-align: left;
  padding: 35px 25px;
  @media (max-width: 992px) {
    padding: 10px 0px;
    text-align: center;
  }
}
._blue div {
  margin-bottom: 35px;
  color: #fff;
  @media (max-width: 992px) {
    margin-bottom: 15px;
  }
}
._blue a {
  background-color: rgb(59, 112, 246);
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
// ._icon-mobile {
//   font-size: 40px;
//   text-align: center;
//   background-color: rgb(74, 158, 210);
//   display: inline-block;
//   align-items: center;
//   border-radius: 50%;
//   padding: 12px;
//   color: #fff;
//   // ._icon-mobile
// }
// ._icon-worldcom {
//   font-size: 40px;
//   text-align: center;
//   background-color: rgb(74, 158, 210);
//   display: inline-block;
//   align-items: center;
//   border-radius: 50%;
//   padding: 12px;
//   color: #fff;
// }
// ._icon-settings {
//   font-size: 40px;
//   text-align: center;
//   background-color: rgb(74, 158, 210);
//   display: inline-block;
//   align-items: center;
//   border-radius: 50%;
//   padding: 12px;
//   color: #fff;
// }

//========================================================================================================================================================
// Welcome
//========================================================================================================================================================

.page {
  // .page__welcome

  &__welcome {
  }
}
.welcome {
  // .welcome__container

  &__container {
  }

  // .welcome__body

  &__body {
    margin: 45px 0;
  }

  // .welcome__items

  &__items {
  }

  // .welcome__text

  &__text {
    line-height: 1.7;
    color: grey;
  }
}

.items-welcome {
  // .items-welcome__title

  &__title {
    font-size: 55px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
  }

  // .items-welcome__text

  &__text {
    display: inline-block;
    margin-bottom: 30px;
  }
  &__text a {
    color: rgb(59, 112, 246);
    font-size: 20px;
    font-weight: 700;
  }
  // .items-welcome__inner

  &__inner {
  }
}
.inner-welcome {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  // .inner-welcome__image

  &__image {
    flex: 0 1 25%;
    text-align: center;
    margin-right: 20px;
    @media (max-width: 768px) {
      flex: 1 1 100%;
      text-align: center;
      margin-bottom: 15px;
      margin-right: 0;
    }
  }
  &__image img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 75%;
    @media (max-width: 768px) {
      max-width: 75%;
      text-align: center;
    }
    &__social {
      flex: 1 1 25%;
      @media (max-width: 768px) {
        flex: 1 1 100%;
      }
    }
  }
}

.social-welcome {
  background-color: rgb(228, 228, 228);
  text-align: center;
  //  display: inline-block;
  min-width: 200px;
  min-height: 200px;
  @media (max-width: 992px) {
    min-width: 180px;
    min-height: 180px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 425px) {
    min-width: 200px;
    min-height: 200px;
  }

  // .social-welcome__icon
  &__icon {
    margin: 40px 0 20px;
  }

  // .social-welcome__name

  &__name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  // .social-welcome__text

  &__text {
  }
}
._icon-twitter {
  color: rgb(59, 112, 246);
  font-size: 45px;
}
//========================================================================================================================================================
// FUTURE
//========================================================================================================================================================

.page {
  // .page__future

  &__future {
    background-color: rgb(59, 112, 246);
  }
}
.future {
  // .future__container

  &__container {
  }

  // .future__body

  &__body {
    display: flex;
    padding: 50px 0;
    @media (max-width: 768px){
      flex-direction: column;
      padding:20px;
    }
  }

  // .future__items

  &__items {
    flex: 1 1 50%;
    margin-right: 20px;
    @media (max-width: 768px){
      margin-right: 0;
    }
  }

  // .future__stats

  &__stats {
    flex: 1 1 50%;
  }
}
.container {
}
.items-future {
  // .items-future__title

  &__title {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    
    margin-bottom: 20px;
    @media (max-width: 768px){
      font-size: 30px;
    }
  }

  // .items-future__text

  &__text {
    color: rgb(196, 180, 180);
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.2;
  }

  // .items-future__list

  &__list {
    color:rgb(196, 180, 180);
    font-size: 16px;
    margin-bottom: 30px;
  }

  // .items-future__sentence

  &__sentence {
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
   display: flex;
  
  }
  &__sentence::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid rgb(196, 180, 180);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    left:5px;
    top:3px;
  }
}

.stats {
  // .stats__block

  &__block {
    text-align: center;
  }
}
.block {
  // .block__circle
  &__circles{
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 25px;
  }
  &__circle { 
    padding: 35px;
    color: rgb(59, 112, 246);
    font-weight: 700;
    font-size: 48px;
  }

  // .block__title

  &__title {
    color: rgb(196, 180, 180);
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
  }

  // .block__text

  &__text {
    color: rgb(196, 180, 180);
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid rgb(196, 180, 180);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  // margin-right: 10px;
}
//========================================================================================================================================================
// achievements

//========================================================================================================================================================
.page {
  // .page__achievements

  &__achievements {
    margin-top: 40px;
    margin-bottom: 35px;
    @media (max-width: 620px) {
      margin-top: 20px;
    }
  }
}
.achievements {
  display: flex;

  align-items: center;
  @media (max-width: 620px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  // .achievements__body

  &__body {
    flex: 1 1 50%;
    margin: 0px 40px 20px 15px;
    @media (max-width: 768px) {
      margin: 0px;
      text-align: center;
      justify-content: center;
    }

    @media (max-width: 425px) {
      padding-right: 10px;
      text-align: center;
    }
  }

  // .achievements__title

  &__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 25px;
    @media (max-width: 992px) {
      font-size: 45px;
    }
    @media (max-width: 768px) {
      font-size: 35px;
      text-align: center;
    }
    @media (max-width: 620px) {
      margin-top: 25px;

      font-size: 50px;
    }
    @media (max-width: 425px) {
      font-size: 35px;
    }
  }

  // .achievements__text

  &__text {
    font-size: 18px;
    font-weight: 600;
    color: grey;
    margin-bottom: 15px;
    padding-right: 15px;
    @media (max-width: 992px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      padding-right: 10px;
      text-align: center;
    }
    @media (max-width: 620px) {
      margin-bottom: 20px;
    }
  }

  // .achievements__item

  &__item {
    font-size: 16px;
    color: grey;
    margin-bottom: 45px;
    @media (max-width: 768px) {
      font-size: 18px;

      text-align: center;
    }
    @media (max-width: 620px) {
      display: none;
    }
  }

  // .achievements__button

  &__button {
    display: inline-block;
    text-align: center;
    align-items: center;
    @media (max-width: 768px) {
      margin: 0 auto;
    }
    @media (max-width: 620px) {
      margin: 25px 0;
    }
  }

  // .achievements__img
  &__img {
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    @media (max-width: 425px) {
      margin-top: 40px;
      align-items: center;
      text-align: center;
      min-width: 290px;
    }
    @media (max-width: 620px) {
      margin-top: 40px;
      min-width: 290px;
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  &__img img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
    max-height: 440px;
    @media (max-width: 620px) {
      max-width: 75%;
      max-height: 75%;
      align-items: center;
      text-align: center;
    }
  }
  // &__photo{
  //     width: 100%;
  //     height: 100%;
  //     border-radius: 50%;
  // }
}
// .button {
//   background-color: rgb(59, 112, 246);
//   color: #fff;
//   font-size: 18px;
//   align-items: center;
//   justify-content: center;
//   letter-spacing: 2px;
//   text-transform: uppercase;
//   padding: 15px 25px;
//   border-radius: 45px;
//   transition: background-color 0.3s ease 0s;
//   @media (any-hover: hover) {
//     &:hover {
//       background-color: rgb(102, 141, 241);
//     }
//   }
//   @media (max-width: 768px) {
//     margin-bottom: 20px;
//     align-items: center;
//     text-align: center;
//   }
// }

//========================================================================================================================================================
// Our pricing
//========================================================================================================================================================
.page {

  // .page__pricing

  &__pricing {
    margin-bottom: 50px;
  }
}
.pricing {

  // .pricing__container

  &__container {
  }

  // .pricing__body

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    @media (max-width: 768px){
       display: flex;
       flex-direction: column;
        text-align: center;
    }
  }
}

.body-pricing {

  // .body-pricing__ourpricing

  &__ourpricing {
  }

  // .body-pricing__items

  &__items {
  }
}
.ourpricing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  // .ourpricing__title

  &__title {
    font-size: 60px;
    padding:0 70px 0 10px;
    font-weight: 700;
    text-transform: capitalize;
    @media (max-width: 768px){
      font-size: 40px;
    padding:0 ;
    margin-bottom: 20px;
   }
  }

  // .ourpricing__items

  &__items {
    display: flex;
  }

  // .ourpricing__icon

  &__icon {
    
    
  }

  // .ourpricing__text

  &__text {
    font-size: 16px;
  }
}
._icon-lock {
  background-color: rgb(162, 199, 254);
  color: rgb(81, 141, 231);
  padding: 10px;
  max-height: 40px;
  font-size: 18px;
  margin-right: 15px;
  display: inline-flex;
}

  // ._icon-ok



.items-pricing {
  padding: 15px;


  // .items-pricing_button

  &_button {
    width: 100%;
    margin: 30px 0;
    padding: 10px 35px;
   
    
  }

  // .items-pricing__item

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

  }

  // .items-pricing__title

  &__title {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
  }

  // .items-pricing__price

  &__price {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
  }

  // .items-pricing__text

  &__text {
    font-size: 16px;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content:'';
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 30px;
      left: 0;
    }
  }

  // .items-pricing__list

  &__list {
  }

  // .items-pricing__icon

  &__icon {
    background-color: #fff;
    color: rgb(196, 180, 180);
    border-radius: 50%;
    margin: 10px 10px 10px 0;
    padding: 3px;
    font-size: 10px;
  }

  // .items-pricing__word
  &__word{
    margin-bottom: 25px;
    color:rgb(196, 180, 180);
  }

}
._black{
  color: #333;

}
._white{
color: #fff;
}
.list-pricing {
  display: flex;
  align-items: center;
  
  // .list-pricing__text

  &__text {
  }
}
.team {
  background-color: rgb(59, 112, 246);
  color:#fff;
  button{ 
    
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease 0s;
    &:hover{
    background-color: rgb(135, 213, 255);
  }

  }
}
.solo {
  background-color: rgb(228, 228, 228);
  color:#333;
  button{ 
    
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s ease 0s;
    &:hover{
    background-color: rgb(212, 214, 213);
  }

  }
}
//========================================================================================================================================================
// success
//========================================================================================================================================================
.page {

  // .page__success

  &__success {
   
    background:url(../images/success/office.jpg)center/cover no-repeat;
   margin-bottom: 50px;
    padding: 50px;
    // background-color: rgb(157, 101, 101);
    @media (max-width: 768px){
      padding:50px 0;
  }
  @media (max-width: 425px){
    padding: 0;
    background: none;
}
  }
}
.success {

  // .success__container

  &__container {
  }

  // .success__body

  &__body {
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 50px 30px;
    @media (max-width: 768px){
      display: flex;
  }
  }

  // .success__block

  &__block {
    background-color: rgb(59, 112, 246);
    @media (max-width: 768px){
        display: none;
    }
  }

  // .success__inner

  &__inner {
    padding: 20px;
   background-color: #fff;
  }
}
.container {
}
.inner-success {

  // .inner-success_title

  &_title {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 20px;
    @media (max-width: 768px){
      font-size: 32px;
  }
  }

  // .inner-success_text

  &_text {
    line-height: 1.2;
    color: #333;
    font-size: 16px;
  }
}
//========================================================================================================================================================
// help
//========================================================================================================================================================
.page {

  // .page__help

  &__help {
  }
}
.help {

  // .help__container

  &__container {
  }

  // .help__body

  &__body {
    display: flex;
  }

  // .help__block1

  &__block1 {
    flex:1 1 50%;
    padding: 15px;
  }

  // .help__block2

  &__block2 {
    flex:1 1 50%;
  }

  // .help__block2-text

  &__block2-text {
  }
}

.block1-help {

  // .block1-help__title

  &__title { 
    font-weight: 700;
    font-size: 55px;
  }

  // .block1-help__content

  &__content {
    margin-top: 20px;
  }
}
.content {
 

  // .content__question

  &__question {
    display: block;
    padding: 15px;
    border: 1px solid #333;

  }
  &__answer-active &__question {
    background-color: #333;

  }
  
  // &__question .content__answer-active {
  //   background-color: rgb(124, 122, 122);

  // }

  // .content__answer

  &__answer {
    display: none;
  } 
  &__answer-active &__answer {
    background-color: #333;
    display: block;
    background-color: rgb(241, 178, 178);
    min-height: 150px;
  }
   // .content__answer-active 
   

  // &__answer .content__answer-active {
  //   display: block;
  //   background-color: rgb(241, 178, 178);
  //   padding: 20px 15px;
  //   min-height: 150px;
  // }
  //  &__answer-active {
  //   display: block;
  //   background-color: rgb(241, 178, 178);
  //   padding: 20px 15px;
  //   min-height: 150px;
  // }
}


