@import "nullstyle.scss";
//========================================================================================================================================================
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
//========================================================================================================================================================

.icon-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 5;

  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(7, 7, 7);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - 1px);
  }
}
//   .menu-open & {
//     span {
//       width: 0;
//     }
//     &::before,
//     &::after {
//     }
//     &::before {
//       top: calc(50% - 1px);
//       transform: rotate(-45deg);
//     }
//     &::after {
//       bottom: calc(50% - 1px);
//       transform: rotate(45deg);
//     }
//   }
// }
//========================================================================================================================================================
.header {
  // .header__container

  &__container {
  }

  // .header__burger

  &__burger {
    max-width: 50px;
    margin:25px auto;
  }
}

.menu {
  // .menu__icon

  &__icon {
  }
}
//========================================================================================================================================================
.page {
  // .page__business

  &__business {
    margin-top: 80px;
  }
}
.business {
  display: flex;
  
  align-items: center;
@media (max-width: 767px){
    flex-wrap: wrap;
}

  // .business__body

  &__body {
    flex: 1 1 50%;
    margin: 0px 40px 20px 15px;
   
  }

  // .business__title

  &__title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.0;
    margin-bottom: 25px;
    @media (max-width: 767px){
        font-size: 45px;
    }
  }

  // .business__text

  &__text {
    font-size: 18px;
    font-weight: 600;
    color: grey;
   margin-bottom: 15px;
   padding-right: 15px;
  }

  // .business__item

  &__item {
    font-size: 16px;
    color: grey;
    margin-bottom: 25px;
  }

  // .business__button

  &__button {
    background-color: rgb(71, 178, 244);
    color: #fff;
    font-size: 18px;    
    
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 45px;
    transition:background-color 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            background-color:rgb(74, 158, 210) ;
        }
    }
  }
 
  // .business__img
  &__img {
    
    flex: 1 1 50%;
    align-items: center;
 justify-content: center;

  }
  &__img img {
    min-width: 150px;
   
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
     max-height: 100%; 
  }
  // &__photo{
  //     width: 100%;
  //     height: 100%;
  //     border-radius: 50%;
  // }
}
