@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid rgb(255, 255, 255);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.icon-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 5;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(7, 7, 7);
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  top: calc(50% - 1px);
}

.header__burger {
  max-width: 50px;
  margin: 25px auto;
}

.page__business {
  margin-top: 80px;
}
@media (max-width: 620px) {
  .page__business {
    margin-top: 20px;
  }
}

.business {
  display: flex;
  align-items: center;
}
@media (max-width: 620px) {
  .business {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.business__body {
  flex: 1 1 50%;
  margin: 0px 40px 20px 15px;
}
@media (max-width: 768px) {
  .business__body {
    margin: 0px;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .business__body {
    padding-right: 10px;
    text-align: center;
  }
}
.business__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .business__title {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .business__title {
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .business__title {
    margin-bottom: 25px;
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  .business__title {
    font-size: 35px;
  }
}
.business__text {
  font-size: 18px;
  font-weight: 600;
  color: grey;
  margin-bottom: 15px;
  padding-right: 15px;
}
@media (max-width: 992px) {
  .business__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .business__text {
    font-size: 18px;
    padding-right: 10px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .business__text {
    margin-bottom: 20px;
  }
}
.business__item {
  font-size: 16px;
  color: grey;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .business__item {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .business__item {
    display: none;
  }
}
.business__button {
  display: inline-block;
  text-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .business__button {
    margin: 0 auto;
  }
}
@media (max-width: 620px) {
  .business__button {
    margin: 25px 0;
  }
}
.business__img {
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}
@media (max-width: 425px) {
  .business__img {
    margin-top: 40px;
    align-items: center;
    text-align: center;
    min-width: 290px;
  }
}
@media (max-width: 620px) {
  .business__img {
    margin-top: 40px;
    min-width: 290px;
  }
}
@media (max-width: 768px) {
  .business__img {
    text-align: center;
  }
}
.business__img img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 440px;
}
@media (max-width: 620px) {
  .business__img img {
    max-width: 75%;
    max-height: 75%;
    align-items: center;
    text-align: center;
  }
}

.button {
  background-color: rgb(59, 112, 246);
  color: #fff;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 45px;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: rgb(102, 141, 241);
  }
}
@media (max-width: 768px) {
  .button {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
}

.page__service {
  margin: 35px 0;
  background-color: rgb(228, 228, 228);
  padding: 45px 0;
}

.service__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
}
@media (max-width: 992px) {
  .service__body {
    display: flex;
    flex-wrap: wrap;
  }
}
.service__item {
  text-align: center;
}

.item-service {
  background-color: #fff;
  padding: 20px 10px;
}
@media (max-width: 992px) {
  .item-service {
    flex: 1 0 50%;
    border: rgb(220, 219, 219) solid 1px;
  }
}
@media (max-width: 620px) {
  .item-service {
    flex: 1 1 100%;
  }
}
.item-service__title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.item-service__text {
  font-size: 18px;
  font-weight: 600;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
.item-service__link {
  display: inline-block;
  padding-right: 20px;
  margin: 20px 0;
  position: relative;
}
@media (max-width: 992px) {
  .item-service__link {
    margin: 10px 0;
  }
}
.item-service__link::before, .item-service__link::after {
  content: "";
  cursor: pointer;
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
}
.item-service__link::before {
  transform: rotate(45deg);
  right: 0;
  top: 5px;
}
.item-service__link::after {
  transform: rotate(-45deg);
  right: 0px;
  top: 11px;
}
.item-service__link a {
  padding-right: 5px;
}
.item-service__link a::before, .item-service__link a::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
}
.item-service__link a::before {
  transform: rotate(45deg);
  right: 10px;
  top: 5px;
}
.item-service__link a::after {
  transform: rotate(-45deg);
  right: 10px;
  top: 11px;
}
.item-service__icon {
  margin: 15px 0;
  font-size: 30px;
  text-align: center;
  background-color: rgb(59, 112, 246);
  display: inline-block;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  color: #fff;
}
.item-service__image {
  max-width: 100%;
}
@media (max-width: 992px) {
  .item-service__image {
    flex: 1 0 50%;
  }
}
@media (max-width: 620px) {
  .item-service__image {
    flex: 1 1 100%;
  }
}
.item-service__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 620px) {
  .item-service {
    height: 50%;
  }
}

._blue {
  background-color: rgb(59, 112, 246);
  color: #fff;
  text-align: left;
  padding: 35px 25px;
}
@media (max-width: 992px) {
  ._blue {
    padding: 10px 0px;
    text-align: center;
  }
}

._blue div {
  margin-bottom: 35px;
  color: #fff;
}
@media (max-width: 992px) {
  ._blue div {
    margin-bottom: 15px;
  }
}

._blue a {
  background-color: rgb(59, 112, 246);
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

.welcome__body {
  margin: 45px 0;
}
.welcome__text {
  line-height: 1.7;
  color: grey;
}

.items-welcome__title {
  font-size: 55px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.items-welcome__text {
  display: inline-block;
  margin-bottom: 30px;
}
.items-welcome__text a {
  color: rgb(59, 112, 246);
  font-size: 20px;
  font-weight: 700;
}
.inner-welcome {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .inner-welcome {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .inner-welcome {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.inner-welcome__image {
  flex: 0 1 25%;
  text-align: center;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .inner-welcome__image {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-right: 0;
  }
}
.inner-welcome__image img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 75%;
}
@media (max-width: 768px) {
  .inner-welcome__image img {
    max-width: 75%;
    text-align: center;
  }
}
.inner-welcome__image img__social {
  flex: 1 1 25%;
}
@media (max-width: 768px) {
  .inner-welcome__image img__social {
    flex: 1 1 100%;
  }
}

.social-welcome {
  background-color: rgb(228, 228, 228);
  text-align: center;
  min-width: 200px;
  min-height: 200px;
}
@media (max-width: 992px) {
  .social-welcome {
    min-width: 180px;
    min-height: 180px;
  }
}
@media (max-width: 768px) {
  .social-welcome {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .social-welcome {
    min-width: 200px;
    min-height: 200px;
  }
}
.social-welcome__icon {
  margin: 40px 0 20px;
}
.social-welcome__name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}
._icon-twitter {
  color: rgb(59, 112, 246);
  font-size: 45px;
}

.page__future {
  background-color: rgb(59, 112, 246);
}

.future__body {
  display: flex;
  padding: 50px 0;
}
@media (max-width: 768px) {
  .future__body {
    flex-direction: column;
    padding: 20px;
  }
}
.future__items {
  flex: 1 1 50%;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .future__items {
    margin-right: 0;
  }
}
.future__stats {
  flex: 1 1 50%;
}

.items-future__title {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .items-future__title {
    font-size: 30px;
  }
}
.items-future__text {
  color: rgb(196, 180, 180);
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.2;
}
.items-future__list {
  color: rgb(196, 180, 180);
  font-size: 16px;
  margin-bottom: 30px;
}
.items-future__sentence {
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
  display: flex;
}
.items-future__sentence::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid rgb(196, 180, 180);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 5px;
  top: 3px;
}

.stats__block {
  text-align: center;
}

.block__circles {
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 25px;
}
.block__circle {
  padding: 35px;
  color: rgb(59, 112, 246);
  font-weight: 700;
  font-size: 48px;
}
.block__title {
  color: rgb(196, 180, 180);
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.block__text {
  color: rgb(196, 180, 180);
  line-height: 1.2;
  margin-bottom: 20px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid rgb(196, 180, 180);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.page__achievements {
  margin-top: 40px;
  margin-bottom: 35px;
}
@media (max-width: 620px) {
  .page__achievements {
    margin-top: 20px;
  }
}

.achievements {
  display: flex;
  align-items: center;
}
@media (max-width: 620px) {
  .achievements {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.achievements__body {
  flex: 1 1 50%;
  margin: 0px 40px 20px 15px;
}
@media (max-width: 768px) {
  .achievements__body {
    margin: 0px;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .achievements__body {
    padding-right: 10px;
    text-align: center;
  }
}
.achievements__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .achievements__title {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .achievements__title {
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .achievements__title {
    margin-top: 25px;
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  .achievements__title {
    font-size: 35px;
  }
}
.achievements__text {
  font-size: 18px;
  font-weight: 600;
  color: grey;
  margin-bottom: 15px;
  padding-right: 15px;
}
@media (max-width: 992px) {
  .achievements__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .achievements__text {
    font-size: 18px;
    padding-right: 10px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .achievements__text {
    margin-bottom: 20px;
  }
}
.achievements__item {
  font-size: 16px;
  color: grey;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .achievements__item {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .achievements__item {
    display: none;
  }
}
.achievements__button {
  display: inline-block;
  text-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .achievements__button {
    margin: 0 auto;
  }
}
@media (max-width: 620px) {
  .achievements__button {
    margin: 25px 0;
  }
}
.achievements__img {
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}
@media (max-width: 425px) {
  .achievements__img {
    margin-top: 40px;
    align-items: center;
    text-align: center;
    min-width: 290px;
  }
}
@media (max-width: 620px) {
  .achievements__img {
    margin-top: 40px;
    min-width: 290px;
  }
}
@media (max-width: 768px) {
  .achievements__img {
    text-align: center;
  }
}
.achievements__img img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 440px;
}
@media (max-width: 620px) {
  .achievements__img img {
    max-width: 75%;
    max-height: 75%;
    align-items: center;
    text-align: center;
  }
}

.page__pricing {
  margin-bottom: 50px;
}

.pricing__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
@media (max-width: 768px) {
  .pricing__body {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.ourpricing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ourpricing__title {
  font-size: 60px;
  padding: 0 70px 0 10px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .ourpricing__title {
    font-size: 40px;
    padding: 0;
    margin-bottom: 20px;
  }
}
.ourpricing__items {
  display: flex;
}
.ourpricing__text {
  font-size: 16px;
}

._icon-lock {
  background-color: rgb(162, 199, 254);
  color: rgb(81, 141, 231);
  padding: 10px;
  max-height: 40px;
  font-size: 18px;
  margin-right: 15px;
  display: inline-flex;
}

.items-pricing {
  padding: 15px;
}
.items-pricing_button {
  width: 100%;
  margin: 30px 0;
  padding: 10px 35px;
}
.items-pricing__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.items-pricing__title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
}
.items-pricing__price {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}
.items-pricing__text {
  font-size: 16px;
  margin-bottom: 30px;
  position: relative;
}
.items-pricing__text::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 30px;
  left: 0;
}
.items-pricing__icon {
  background-color: #fff;
  color: rgb(196, 180, 180);
  border-radius: 50%;
  margin: 10px 10px 10px 0;
  padding: 3px;
  font-size: 10px;
}
.items-pricing__word {
  margin-bottom: 25px;
  color: rgb(196, 180, 180);
}

._black {
  color: #333;
}

._white {
  color: #fff;
}

.list-pricing {
  display: flex;
  align-items: center;
}
.team {
  background-color: rgb(59, 112, 246);
  color: #fff;
}
.team button {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease 0s;
}
.team button:hover {
  background-color: rgb(135, 213, 255);
}

.solo {
  background-color: rgb(228, 228, 228);
  color: #333;
}
.solo button {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease 0s;
}
.solo button:hover {
  background-color: rgb(212, 214, 213);
}

.page__success {
  background: url(../images/success/office.jpg) center/cover no-repeat;
  margin-bottom: 50px;
  padding: 50px;
}
@media (max-width: 768px) {
  .page__success {
    padding: 50px 0;
  }
}
@media (max-width: 425px) {
  .page__success {
    padding: 0;
    background: none;
  }
}

.success__body {
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 50px 30px;
}
@media (max-width: 768px) {
  .success__body {
    display: flex;
    margin: 40px 0;
  }
}
.success__block {
  background-color: rgb(59, 112, 246);
}
@media (max-width: 768px) {
  .success__block {
    display: none;
  }
}
.success__inner {
  padding: 20px;
  background-color: #fff;
}
@media (max-width: 425px) {
  .success__inner {
    padding: 10px 0;
  }
}

.inner-success_title {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .inner-success_title {
    font-size: 32px;
    text-align: center;
  }
}
.inner-success_text {
  line-height: 1.2;
  color: #333;
  font-size: 16px;
}
@media (max-width: 768px) {
  .inner-success_text {
    text-align: justify;
  }
}

@media (max-width: 380px) {
  .help__container {
    padding: 0;
  }
}
.help__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .help__body {
    display: flex;
    flex-direction: column;
  }
}
.help__block1 {
  padding: 15px;
}
@media (max-width: 768px) {
  .help__block1 {
    padding: 0;
    margin-bottom: 25px;
  }
}
.help__block2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.help__block2-text {
  align-self: center;
  padding: 50px 10px;
  width: 300px;
  height: 300px;
  min-width: 200px;
  min-height: 200px;
  background-color: rgb(59, 112, 246);
  color: #fff;
  text-align: justify;
}

.block1-help__title {
  font-weight: 700;
  font-size: 55px;
}
@media (max-width: 992px) {
  .block1-help__title {
    font-size: 45px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .block1-help__title {
    font-size: 35px;
    text-align: center;
  }
}
.block1-help__content {
  margin-top: 20px;
}

.content__question {
  cursor: pointer;
  display: block;
  padding: 15px;
  position: relative;
  font-size: 18px;
  color: rgb(59, 112, 246);
}
.content__question::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-top: 10px solid rgb(39, 38, 38);
  border-right: 8px solid transparent;
  position: absolute;
  right: 10px;
  bottom: 20px;
  position: absolute;
}
@media (max-width: 992px) {
  .content__question::after {
    right: 0px;
    font-size: 16px;
  }
}
@media (max-width: 380px) {
  .content__question::after {
    font-size: 14px;
  }
}
.content__answer-active .content__question {
  background-color: rgb(255, 255, 255);
}
.content__answer {
  display: none;
}
.content__answer-active .content__answer {
  background-color: rgb(206, 204, 204);
  display: inline-block;
  padding: 20px 15px;
  min-height: 100px;
}

.page__getintouch {
  background-color: rgb(228, 228, 228);
  margin-top: 40px;
}

.getintouch__body {
  padding: 50px 0;
}
@media (max-width: 768px) {
  .getintouch__image {
    text-align: center;
  }
}
.getintouch__image img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 240px;
}
@media (max-width: 620px) {
  .getintouch__image img {
    max-width: 75%;
    max-height: 75%;
    align-items: center;
    text-align: center;
  }
}
.getintouch__inner {
  display: flex;
}
@media (max-width: 768px) {
  .getintouch__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.getintouch__info {
  flex: 1 1 30%;
}

.inner-getintouch__form {
  flex: 1 1 70%;
}

.form {
  margin-right: 40px;
  padding: 30px 0;
}
.form * {
  outline: none;
}
@media (max-width: 768px) {
  .form {
    margin-right: 0px;
    width: 100%;
  }
}
.form__title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.form__item {
  margin-bottom: 20px;
  display: flex;
}
@media (max-width: 425px) {
  .form__item {
    display: block;
  }
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  margin-right: 20px;
}
.form__input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  transition: all 0.5s ease 0s;
}
.form__input:focus {
  box-shadow: 0 0 15px rgb(117, 162, 252);
}
.form__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  background-color: rgb(59, 112, 246);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 2px;
  transition: background-color 0.3s ease 0s;
  box-shadow: 0 2px 0 rgb(34, 60, 125);
}
@media (any-hover: hover) {
  .form__button:hover {
    background-color: rgb(47, 83, 174);
  }
}

.form__input._error {
  box-shadow: 0 0 15px rgb(249, 35, 35);
}

textarea.form__input {
  min-height: 100px;
  resize: vertical;
  padding: 10px;
}

.info-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-getintouch__items {
  display: flex;
  margin-bottom: 20px;
}
.info-getintouch__title {
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
}
.info-getintouch__text {
  font-size: 16px;
  color: gray;
}
.info-getintouch__icon {
  background-color: rgb(59, 112, 246);
  color: #fff;
  padding: 10px;
  max-height: 40px;
  font-size: 18px;
  margin-right: 15px;
  display: inline-flex;
}

.footer {
  background-color: #333;
  color: #fff;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.invalid {
  box-shadow: 0 0 15px rgb(250, 4, 4);
}

.valid {
  box-shadow: 0 0 15px rgb(63, 236, 115);
}

.autocomplete-block {
  align-items: center;
  justify-content: center;
  display: flex;
}

.autocomplete {
  width: 300px;
  text-align: center;
  position: relative;
}

.autocomplete-input {
  width: 100%;
}

.autocomplete-list {
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 20px;
  left: 0;
  background-color: #fff;
  padding: 10px 0;
  max-height: 300px;
  overflow-y: auto;
}

.autocomplete-list li {
  padding: 5px;
  border: 1px #333 solid;
  cursor: pointer;
}