@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  z-index: 5;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(7, 7, 7);
}
.icon-menu::before {
  top: 0;
}
.icon-menu::after {
  bottom: 0;
}
.icon-menu span {
  top: calc(50% - 1px);
}

.header__burger {
  max-width: 50px;
  margin: 25px auto;
}

.page__business {
  margin-top: 80px;
}
@media (max-width: 620px) {
  .page__business {
    margin-top: 20px;
  }
}

.business {
  display: flex;
  align-items: center;
}
@media (max-width: 620px) {
  .business {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.business__body {
  flex: 1 1 50%;
  margin: 0px 40px 20px 15px;
}
@media (max-width: 767px) {
  .business__body {
    margin: 0px;
    text-align: center;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .business__body {
    padding-right: 10px;
    text-align: center;
  }
}
.business__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .business__title {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .business__title {
    font-size: 35px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .business__title {
    margin-bottom: 25px;
    font-size: 50px;
  }
}
@media (max-width: 425px) {
  .business__title {
    font-size: 35px;
  }
}
.business__text {
  font-size: 18px;
  font-weight: 600;
  color: grey;
  margin-bottom: 15px;
  padding-right: 15px;
}
@media (max-width: 992px) {
  .business__text {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .business__text {
    font-size: 18px;
    padding-right: 10px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .business__text {
    margin-bottom: 20px;
  }
}
.business__item {
  font-size: 16px;
  color: grey;
  margin-bottom: 45px;
}
@media (max-width: 767px) {
  .business__item {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 620px) {
  .business__item {
    display: none;
  }
}
.business__button {
  display: inline-block;
  text-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .business__button {
    margin: 0 auto;
  }
}
@media (max-width: 620px) {
  .business__button {
    margin: 25px 0;
  }
}
.business__img {
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}
@media (max-width: 425px) {
  .business__img {
    margin-top: 40px;
    align-items: center;
    text-align: center;
    min-width: 290px;
  }
}
@media (max-width: 620px) {
  .business__img {
    margin-top: 40px;
    min-width: 290px;
  }
}
@media (max-width: 767px) {
  .business__img {
    text-align: center;
  }
}
.business__img img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 440px;
}
@media (max-width: 620px) {
  .business__img img {
    max-width: 75%;
    max-height: 75%;
    align-items: center;
    text-align: center;
  }
}

.button {
  background-color: rgb(71, 178, 244);
  color: #fff;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px 25px;
  border-radius: 45px;
  transition: background-color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: rgb(74, 158, 210);
  }
}
@media (max-width: 767px) {
  .button {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
}